<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Countdowns</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="javascripts/application.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
<a href="/"><img class="logo" src="https://i.imgur.com/LsZ8A2g.png" height="100px" alt=""></a>
</header>
<body class="bigBoi">

  <%= yield %>

</body>
</html>
