<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="javascripts/application.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
<a href="/"><img class="logo" src="https://imgur.com/00add26f-8da9-46b8-9acd-4bacd01fdb7b" height="100px" alt=""></a>
</header>
<body class="bigBoi">

  <%= yield %>

</body>
</html>
